.bar
  .container
    %h1
      = link_to "/" do
        = partial "views/icons/railsbridge-logo"
        %span RailsBridge
        %span Triangle
    = link_to "#", class: "mobile-menu-toggle", :data => {:role => "mobile-menu-toggle"} do
      = partial "views/icons/menu"
      %span Menu
    %nav.nav{data: {role: "menu"}}
      = nav_link "About", "/", class: "nav-link"
      = nav_link "Schedule", "/schedule", class: "nav-link"
      = nav_link "Resources", "/resources", class: "nav-link"
      = nav_link "Curriculum", "http://docs.railsbridge.org/docs/", class: "nav-link"
