---
title: Triangle RailsBridge
---

.banner
  %h2 Empowering Women
  %h3 with ruby

.container.next-workshop
  .workshop-teaser
  .workshop-summary
    %time.day Friday
    %time.date January 29, 2014
    = partial "views/icons/info"
    %p
      RailsBridge workshops are a free and fun way to get started or level up
      with Rails, Ruby, and other web technologies. Our events focus on
      increasing diversity in tech, so that people of all backgrounds can feel
      welcome and comfortable in our industry.
    = partial "views/icons/place"
    %address
      American Underground @ATC
      %br
      213 Blackwell St
      %br
      Durham, NC  27613
    = link_to "Register for Free", "#", class: "workshop-rsvp"

.feature.about
  .container
    %section
      %h3 Increasing diversity in tech
      %p
        Do you dream of someday writing software that improves the world?
      %p
        Led by an all-volunteer team of seasoned, enthusiastic Ruby and Rails
        developers, the workshop introduces women of all backgrounds to the
        concepts, tools, and techniques of Ruby and Rails development. Our
        audience is those with no or little programming experience.
      %p
        We welcome you to the Triangle Ruby community. Whatever your goal is in
        learning to program, we hope to connect you with the tools to take the
        next step.

    %section
      %h3 Code of Conduct
      %p
        Triangle RailsBridge is dedicated to providing a harassment-free
        experience for everyone regardless of gender, sexual orientation,
        disability, physical appearance, body size, race, or religion.
      %p
        We will not tolerate harassment of workshop participants in any form, be
        it verbal comments (said aloud or typed into a backchannel), imagery,
        deliberate intimidation, stalking, following, harassing photography or
        recording, sustained disruption of lectures, inappropriate physical
        contact, and unwelcome sexual attention.
      %p
        Workshop participants violating these rules may be sanctioned or
        expelled from the event at the discretion of the organizers.
      %p
        If you are being harassed, see someone else being harassed, or have any
        other concerns on-site please contact one of the workshop organizers or
        teaching assistants immediately.

.feature
  .container.collage
    = image_tag("1.jpg")
    = image_tag("2.jpg")
    = image_tag("3.jpg")
    = image_tag("4.jpg")
    = image_tag("5.jpg")

.diversity
  .container
    %h3 Promoting Diversity
    %p
      The Triangle software scene needs more women. So this workshop is for
      women and their guests. You should identify as a woman, or be the male
      guest of a woman who is attending.
    %p
      We support mothers who want to code. We will provide childcare to those
      who need it. Please let us know if you want to use these services on the
      application form.
